* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  height: 500px;
  background-color: white;
  border: solid black 1px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
  text-transform: uppercase;
}
nav a {
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}
a:hover {
  text-decoration-color: rgb(255, 52, 52);
}
.main-page {
  background-color: #000000;
  height: 100vh;
  color: white;
  font-size: 40px;
}

.aboutMe {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  font-size: 40px;
}
.About-title {
  font-size: 40px;
  color: white;
  padding-bottom: 2rem;
  margin-top: 0px;
  text-align: center;
  margin-top: 20px;
}

p {
  font-size: 30px;
  font-weight: 300;
}
.about-p-1 {
  text-align: center;
  margin-top: auto;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black;
}
.about-p-2 {
  text-align: center;
  text-indent: inherit;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black;
}
.about-p-3 {
  text-align: center;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2rem;
  padding-bottom: auto;
  color: black;
}

.main-text {
  margin-top: 80px;
  margin-left: 80px;
  font-weight: 100px;
  font-family: "PT Mono", monospace;
}

.main-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  background-color: coral;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #ef744b;
}
.button:active {
  background-color: darkslategray;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}

.social {
  margin: 20px;
}

.tools-section {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.tools-title {
  font-size: 40px;
  color: white;
  padding-bottom: 2rem;
  margin-top: 0px;
  text-align: center;
  margin-top: 20px;
}

.toolsContainer {
  margin: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.tools-img {
  max-width: 100%;
  display: flex;
}

.tools-img:hover {
  transform: scale(1.05);
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

/* Project Section */
.section-title {
  font-size: 40px;
  color: rgb(5, 0, 0);
  padding-bottom: 2rem;
  margin-top: 0px;
  text-align: center;
  margin-top: 20px;
}

.project-title {
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0px;
  text-align: center;
  margin-top: 5px;
}
.sub-section-alternative {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  color: rgb(0, 0, 0);
  font-size: 40px;
}
.project-card {
  width: 250px;
  height: 400px;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px rgb(12, 0, 0);
  margin: 10px;
  text-align: center;
}
.project-card:hover {
  transform: scale(1.05);
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.project-container {
  display: flex;
  max-height: 500px;
  height: min-content;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 25px;
  width: 250px;
  border-radius: 100px;
  border-width: 10px;
  background-color: black;
}
.subtext {
  font-size: 20px;
  padding-right: 3px;
  padding-left: 3px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.button-47 {
  align-items: center;
  background: #ffffff;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1a202c;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;

  touch-action: manipulation;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0ppx;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }
}

/* Form Section */
.form-section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  font-size: 40px;
}
.form-title {
  font-size: 40px;
  color: rgb(5, 0, 0);
  padding-bottom: 1rem;
  margin-top: 0px;
  text-align: center;
  margin-top: 20px;
  background-color: #fff;
}

.contact-div {
  display: flex;
  position: relative;
  align-content: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
.contact-form {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 600px;
}
input[type="text"],
input[type="email"] {
  height: 40px;
  width: 100%;
  margin-top: 2rem;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
}
textarea {
  width: 100%;
  margin-top: 2rem;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
}

.submit {
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  background-color: black;
  cursor: pointer;
  color: white;
  border-radius: 32px;
}

.button-84 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-84:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
}

.button-84:active {
  outline: 0;
}

.button-84:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button-84 {
    height: 48px;
  }
}
.submit:hover {
  opacity: 0.6;
}
::placeholder {
  color: #1c1d25;
}
